<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit User</title>
</head>

<body>
    <div class="create-user-container">
        <div>
            <h2><b>Edit user</b></h2>
        </div>
        <form action="/edit-user" method="POST">
            <div>
                <label>ID</label>
                <input name="id" type="text" readonly value="<%= dataUserDetails[0].id %>" />
            </div>
            <div>
                <label>First Name</label>
                <input name="firstName" type="text" value="<%= dataUserDetails[0].firstName %>" />
            </div>
            <div>
                <label>Last Name</label>
                <input name="lastName" type="text" value="<%= dataUserDetails[0].lastName %>" />
            </div>
            <div>
                <label>Email</label>
                <input name="email" type="email" value="<%= dataUserDetails[0].email %>" />
            </div>
            <div>
                <label>Address</label>
                <input name="address" type="text" value="<%= dataUserDetails[0].address %>" />
            </div>
            <div>
                <button class="btn-submit" type="submit">Save</button>
                <button class="btn-submit" type="reset">Reset</button>
            </div>
        </form>
    </div>
</body>

</html>